
.cards-section {
    width: 80vw;
    color: #444;
    margin:  1vw 0vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5vw;
    display: none;
    padding: 2vw 2vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    padding: 2vw 1vw;
    margin: clamp(5px,2vw,4000px);
}

.card i {
    padding: 2vw;
    font-size: 6vw;
}

.card h2 {
    font-size: 3vw;
    margin: 1vw;
    text-align: center;
    text-size-adjust: auto;
    /*padding-bottom: 15px;*/
}
/**/
.card-grid {
    position: absolute;
    margin-top: 30vw;
}

@media (min-width: 500px) {

    .cards-section {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card {
        padding: 1vw 1vw;

    }
    .card h2 {
        width: 20vw;
        font-size: 1.5vw;
        text-align: center;
        text-size-adjust: auto;
    }
}

@media (min-width: 1050px) {
    .cards-section {
        transform: scale(0.7);
        gap: 2vw;
    }
    .card-grid {
        margin-top: 19vw;
    }
    
}