
.cards-section {
    width: 80vw;
    justify-content: center;
    color: rgb(80, 80, 80);
    margin: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4vw;
    left: 50%;

    padding: 2vw 2vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 2vw 1vw;
}

.card i {
    padding: 2vw;
    font-size: 6vw;
}

.card h2 {
    font-size: 3vw;
    margin: 1vw;
    text-align: center;
    text-size-adjust: auto;
    /*padding-bottom: 15px;*/
}

@media (min-width: 500px) {

    .cards-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card {
        padding: 1vw;

    }
    .card h2 {
        padding: 1vw;
        font-size: 1.5vw;
        margin: 1vw;
        text-align: center;
        text-size-adjust: auto;
        /*padding-bottom: 15px;*/
    }
}