
.sidebar {
    margin: 0;
    z-index: 100;
    flex-direction: column;
    width: 100vw;
    background-color: #f9f9f9;
    position: fixed;
    height: 0;
    transition: height 1s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}


.sidebar.active {
    height: 38vw;
}


.sidebar a {
    z-index: 1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    text-decoration: none;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
    opacity: 0;

}

.sidebar.active a {
    opacity: 1;
    visibility: visible;
}
.sidebar a:hover {
    color: #fff;
    background-color: #333;
}
