.servicos-section {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #ccc;

}



.servicos-card {
    position: relative;
    width: 100%;
    bottom: 0;
}

.servicos-section .servico-left,
.servicos-section .servico-right  {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    width: 40vw;
    left: 5vw;
    bottom: -7vw;
    background-color: #fff;
    font-size: 3.3vw;
    font-weight: 400;
    transition: height 1s, width 1s, left 1s;
}

.servicos-section .servico-right {
    left: 55vw;

}

.servicos-section .servico-left:hover {
    width: 90vw;
    z-index: 50;
}

.servicos-section .servico-right:hover {
    left: 5vw;
    width: 90vw;
    z-index: 50;
}

/*
.servicos-section .servico-right p,
.servicos-section .servico-left p {
    display: none;
}


.servicos-section .servico-right:hover p,
.servicos-section .servico-left:hover p {
    display: block;
}
*/

.serv-card-title {
    z-index: 1;
    padding: 5vw;
    letter-spacing: clamp(0.2rem, 5vw, 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicos-card p {
    font-weight: 300;
    letter-spacing: initial;
    line-height: 3vw;
    padding: 5vw;
    padding-top: 0;
    display: none;
}

.cor-escura {
    z-index: -1;
    position: relative;
    height: 16vw;
    width: 100%;
    background-color: #555;
}