.servicos-section {
    display: flex;
    position: relative;
    justify-content: center;
    transition: height 1s linear, background-color 1s;
    width: 100%;
    transition: height 1s, background-color 1s;
    background-color: #aaa;
    height: 20vw;
}
/*
.servicos-section:hover {
    background-color: #333;
    height: 65vw;
}
*/

.servicos-card {
    position: relative;
    width: 100%;
}

.servicos-section .servico-left,
.servicos-section .servico-right  {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #333;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    width: 40vw;
    left: 5vw;
    top: -7vw;
    background-color: #fff;
    font-weight: 400;
    font-size: 0vw;
    transition: height 1s, width 1s, left 1s, font-size 1s, background-color 1s, box-shadow 1s ease-in-out;
}

.servicos-section .servico-left:hover,
.servicos-section .servico-right:hover  {
    background-image: linear-gradient(
        to right,
        #fcfcfc 0%,
        #eeeeeeee 10%,
        #fcfcfc 20%,
        #fcfcfc 100%
    );
    border: 5px solid #ccc;
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.servicos-section .servico-right {
    left: 55vw;

}

.servicos-section .servico-right.active,
.servicos-section .servico-left.active {
    border: 5px solid #ccc;
    background-image: none;
    
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.servicos-section .servico-left.active {
    width: 90vw;
    z-index: 50;
    font-size: 3vw;

}


.servicos-section .servico-right.active {
    left: 5vw;
    width: 90vw;
    z-index: 50;
    font-size: 3vw;
}


.servicos-section .servico-right p,
.servicos-section .servico-left p {
    display: none;
}


.servicos-section .servico-right.active p,
.servicos-section .servico-left.active p {
    display: block;
}


.serv-card-title {
    font-size: 3.1vw;
    z-index: 1;
    padding: 5vw;
    letter-spacing: clamp(0.2rem, 5vw, 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicos-card p {
    font-weight: 300;
    letter-spacing: 0.2vw;
    line-height: 4vw;
    padding: 5vw;
    padding-top: 0;
    display: none;

}

.cor-clara {
    z-index: -1;
    position: relative;
    height: 24vw;
    width: 100%;
    background-color: #fff;
}

.card-grid{
    transform: scale(0);
    opacity: 0;
    transition: transform .8s ease-in, opacity 1s;
}

.card-grid.active{
    opacity: 1;
    transform: scale(1);
}
@media(min-width: 1050px) {
    .servicos-section .servico-left,
    .servicos-section .servico-right  {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 2vw;
        width: 30vw;
        left: 17vw;
        top: -5vw;
        font-weight: 400;
        font-size: 0vw;
    }

    .servicos-section .servico-right {
        left: 53vw;
    
    }

    .serv-card-title {
        font-size: 2vw;
        z-index: 1;
        padding: 2vw;
        letter-spacing: clamp(0.2rem, 5vw, 0.5vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .servicos-section .servico-left.active,
    .servicos-section .servico-right.active  {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
        
    }
    .servicos-section .servico-left.active {
        width: 66vw;
        z-index: 50;    
        font-size: 1.5vw;

    }
    
    
    .servicos-section .servico-right.active {
        left: 17vw;
        width: 66vw;
        z-index: 50;
        font-size: 1.5vw;
    }

    .servicos-card p {
        letter-spacing: 0.1vw;
        line-height: 2.5vw;
        padding: 5vw;
        padding-top: 0;
    
    }

    .servicos-section {
        height: 20vw;
    }
}


@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    
    100% {
        background-position: -150% 0;
    }
}