
#wp {
    display: none;
    position: fixed;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    right: 4vw;
    bottom: clamp(1.5rem,12vw, 3rem);

}

#wp img{
    max-width: 100px;
    max-height: 100px;
    height: 15vw;
    width: 15vw;
    
}
